<html>
  <head>
    <title>Welcome to Ansible by RedHat</title>
  </head>
  <body>
  <h1>nginx, configured by Ansible</h1>
    <p>If you can see this, Ansible has successfully installed nginx.</p>
    <p>Succesfully implement Self-Signed TLS Certificate. :)</p>

    <p>{{ ansible_managed }}</p>
  </body>
</html>